.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.listItem {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  align-items: center;
}